 
  html {
    
    height: 200%;
    width: 100%;
    background-color:  #006d8f;
  }
  header {
    font-size: 80px;
    text-align: center;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    justify-content: center; 
    align-items: center;
  }
  h1 {
    font-size: 50px;
    text-align: center;
    margin-top: -5vmin;
    margin-bottom: 0vmin;
    justify-content: center; 
    align-items: center;  
  }
  h2 {
  
    font-size: 50px;
    color:#ffe2d6;
    text-align: center;
    margin-top: 0vmin;
    margin-bottom: 0vmin;
    justify-content: center; 
    align-items: center;
  }
  h3 {
  
    font-size: 40px;
    color:#0a0a0a;
    text-align: center;
    margin-top: 0vmin;
    margin-bottom: 0vmin;
    justify-content: center; 
    align-items: center;
  }

  .center-div {
    display:flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .button-group button {
   
    margin-top: 1vmin;
    font-size: 25px; 
     margin-top: 50px;
  }
 
  #shuffled-deck-container {
    display: flex;
    font-size: 42px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 5px; 
    margin-top: 50px;
  }
  


 