html {
    height: 200%;
    width: 100%;
    background-color:  #006d8f;
  }
  header {
    font-size: 70px;
    text-align: center;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    justify-content: center; 
    align-items: center;
  }
  h1 {
    font-size: 50px;
    text-align: center;
    margin-top: -5vmin;
    margin-bottom: 0vmin;
    justify-content: center; 
    align-items: center;  
  }
  h2 {
  
    font-size: 50px;
    color:#ffe2d6;
    text-align: center;
    margin-top: 0vmin;
    margin-bottom: -10vmin;
    justify-content: center; 
    align-items: center;
  }
  #board {
  
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(2, 30vmin);
    gap:1vmin;
    margin-top: 10vmin;
    margin-bottom: 2vmin;
    justify-content: center;
   
  }
  
  #board > div {
    
    border: 0.1vmin solid grey;
    background-color: #e63b7a;
  }
  .center-div {
    display: flex;
    justify-content: center;
  }
  
  .button-group {
  
    margin: auto;
  }
  .button-group button {
   
    margin-top: 5vmin;
    font-size: 25px; 
    margin: 0 5px; 
  }